@font-face {
  font-family: "Lato";
  src: url("/assets/Lato2OFL/Lato-Regular.ttf");
}

p {
  margin: 0px;
}

input {
  all: unset;
  flex-grow: 1;
}

body {
  font-family: "Lato";
  max-width: 1240px;
  margin: auto;
}

header#header {
  text-align: center;
}

header#header img {
  width: 268px;
  margin-bottom: 17px;
}

#search,
#searchbar {
  margin-bottom: 25px;
}

img[alt="rechercher"] {
  float: right;
}

#search {
  width: 100%;
}

#search-filters {
  display: flex;
  gap: 20px;
}

#searchbar,
.chip,
.card-info,
article,
#search-filters > div {
  border-radius: 5px;
}

#searchbar {
  background-color: #e7e7e7;
  padding: 18px 17px 19px 24px;
  font-size: 18px;
  border: 0px;
  display: flex;
}

#selected-filters {
  margin-bottom: 15px;
}

.chip {
  background-color: #3282f7;
  color: #fff;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  gap: 13px;
}

#search-filters > div {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  font-family: "Lato";
  padding: 15px 23px;
  width: fit-content;
  display: flex;
}

#search-filters input {
  width: 100px;
}
#search-filters input::placeholder {
  opacity: 1;
}

#search-ingredients {
  background-color: #3282f7;
}

#search-devices {
  background-color: #68d9a4;
}

#search-utensils {
  background-color: #ed6454;
}

#results {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
}

article {
  flex: 1;
  min-width: 380px;
}

article,
img {
  cursor: pointer;
}

.card-info {
  padding: 19px 20px;
  gap: 20px;
  background-color: #e7e7e7;
}

ul {
  padding: 0px;
  font-size: 12px;
  font-weight: bold;
  flex: 1;
}

li {
  list-style-type: none;
}

article header {
  font-size: 18px;
}

.placeholder-img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  min-width: 380px;
  min-height: 178px;
  background-color: #c7bebe;
}

.duration-text {
  font-weight: bold;
}

.card-body,
article header {
  display: flex;
  justify-content: space-between;
}

.card-body > p {
  flex: 1;
}

article,
.card-info {
  display: flex;
  flex-flow: column nowrap;
}
