@font-face {
  font-family: "Lato";
  src: url("/assets/font/Lato-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/font/Roboto-Regular.ttf");
}

p {
  margin: 0px;
}

input {
  all: unset;
  flex-grow: 1;
}

ul {
  margin: 0px;
  padding: 0px;
}

body {
  padding: 32px 0;
  font-family: "Lato", "Roboto", Arial, Helvetica, sans-serif;
  max-width: 1240px;
  width: calc(100% - 64px);
  margin: auto;
}

header#header {
  text-align: center;
}

header#header img {
  width: 268px;
  margin-bottom: 17px;
}

#search,
#searchbar {
  margin-bottom: 25px;
}

img[alt="rechercher"] {
  float: right;
}

#search {
  width: 100%;
}

#search-filters {
  display: flex;
  gap: 20px;
  height: 56px;
  overflow: visible;
  position: relative;
  z-index: 1;
}

#searchbar,
.chip,
.card-info,
article,
#search-filters > div {
  border-radius: 5px;
}

#searchbar {
  background-color: #e7e7e7;
  padding: 18px 17px 19px 24px;
  font-size: 18px;
  border: 0px;
  display: flex;
}

#selected-filters,
#search-filters {
  color: #fff;
}

#selected-filters {
  margin-bottom: 15px;
  display: flex;
  gap: 8px;
}

.chip {
  background-color: #3282f7;
  width: fit-content;
  padding: 10px 20px;
  display: flex;
  gap: 13px;
  font-size: 14px;
  font-weight: bold;
}

div[role="combobox"] {
  font-weight: bold;
  font-family: "Lato";
  display: flex;
  width: 100%;
}

div[role="combobox"] + div[role="listbox"] {
  display: none;
  padding-top: 12px;
  max-height: 300px;
  overflow-y: scroll;
  width: 100%;
}

div[role="combobox"][selected="true"] + div[role="listbox"] {
  display: block;
}

#search-filters {
  font-size: 18px;
}

#search-filters ul {
  list-style-type: none;
  cursor: pointer;
  display: flex;
  flex-flow: row wrap;
  gap: 10px;
  max-width: 700px;
}

#search-filters ul li {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#search-filters input {
  width: 100px;
}
#search-filters input::placeholder {
  opacity: 1;
}

.search-filter {
  color: #fff;
  padding: 16px 20px;
  height: fit-content;
}

#ingredients-section,
.chip-ingredients {
  background-color: #3282f7;
}

#appliances-section,
.chip-appliances {
  background-color: #68d9a4;
}

#utensils-section,
.chip-utensils {
  background-color: #ed6454;
}

#results {
  display: flex;
  flex-flow: row wrap;
  gap: 50px;
  justify-content: flex-start;
}

article {
  flex: 1;
  max-width: 380px;
  height: 364px;
}

article,
img {
  cursor: pointer;
}

.card-info {
  padding: 19px 20px;
  gap: 20px;
  background-color: #e7e7e7;
  overflow: hidden;
  flex-grow: 1;
}

#results ul {
  font-size: 12px;
  flex: 1;
}

.ingredient {
  font-weight: bold;
}

li {
  list-style-type: none;
}

article header {
  font-size: 18px;
  white-space: nowrap;
}

article header p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
}

.placeholder-img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
  min-width: 380px;
  min-height: 178px;
  background-color: #c7bebe;
}

.duration-text {
  font-weight: bold;
}

.card-body,
article header {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.card-body > p {
  flex: 1;
  font-size: 12px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.card-body li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body > * {
  max-width: 171px;
}

article,
.card-info {
  display: flex;
  flex-flow: column nowrap;
}
